body{
  background-color: black;
  font-size: xx-large;
  font-family: monospace;
  color: white;
}
.movie-container,.cast-container{
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}