body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.movies{
  display: flex;
  flex-wrap: wrap;
  background-color: plum;
  justify-content: space-evenly;
}
.movie{
  width: 350px;
  background-color: goldenrod;
  margin: 4px;
}

