body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: grey;
}
.movies-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie{
  width: 250px;
  margin: 14px 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}
.movie img{
  border: 2px solid white;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.movie-info{
  position: absolute;
  color: white;
  bottom: 4px;
  right: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* font-weight: 600; */
  display: flex;
  font-size: 24px;;
}
.movie-title{
  margin: 8px;
  overflow-wrap: break-word;
  text-align: start;
}
.movie-rating{
  background-color: black;
  color: white;
  border-radius: 9999px;
  font-size: 16px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.bookmarkButton{
  background-color: black;
  font-size: 24px;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.genre-button{
  padding: 8px;
  font-size: 18px;
  background-color: grey;
  color: white;
  border-radius: 12px;
  font-family: monospace;
  margin: 4px;
  cursor: pointer;
  border: 2px solid white;
}
.genre-button:hover{
  background-color: black;
  color: white;
}
.genre-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.active-genre-button{
  color: white;
  background-color: black;
}
.searchbar-container{
  text-align: center;
  padding: 8px;
}
.searchbar{
  font-family: monospace;
  font-size: 20px;
  width: 70%;
  padding: 8px 16px;
  border-radius: 16px;
  outline: none;
}

.movie-container{
  display: flex;
}
.movie-image-container{
  width: 40%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
}
.movie-image-container img{
  height: 90vh;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 6px 6px 30px black;
}
.movie-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

